.slider {
  margin: 15px;
  margin-top: 0px;
}

.show_all{
  float: right;
}

.title{
  float: left;
}

.info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px ;
}