<strong>Olá {{name}}, <br/> </strong>
<p>Segue abaixo o restorno de sua dúvida.</p>
<p>
  <strong>Pergunta:</strong><br/> {{question}} <br/>
  <strong>Resposta:</strong><br/> {{answer}} <br/>
  <strong>Data/hora:</strong> {{date}} <br/>

 <br/>

</p>
