@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

$poppins: 'Poppins', serif;
.container {
  font-family: "Poppins", sans-serif;
  background-color: #efefef;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #efefef;
}